html
    body
        meta(property="og:image" content=imageUrl)
        meta(content=description property="og:description")
        link(type="application/json+oembed" href=oEmbedUrl)
        meta(name="twitter:card" content="summary_large_image")
        meta(name="theme-color" content=color)
        <meta http-equiv="refresh" content="0; url=#{redirectUrl}" />
        a(href=redirectUrl) Go to RRCS
